/* body{
    background-color: #17171D;
  } */

.gap1 {
    gap: 1rem;
}
.gap3{
    gap: 3rem;
}

.gap5 {
    gap: 5rem;
}

nav {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100vw;
    border-bottom: 1px solid #9ceaef;
    background-color: #777da7;
    position: fixed;
    top: 0;
    /* z-index: 2; */
}

nav .icon-nav-linkedin{
    position: absolute;
    right: 6.5rem;
}

nav .icon-nav-github{
    position: absolute;
    right: 2.5rem;
}

.flex {
    display: flex;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexColumn {
    flex-direction: column;
}

*.flexRow {
    flex-direction: row;
}

.justifyCenter {
    justify-content: center;
}

.textCenter {
    text-align: center !important;
}


.alignCenter {
    align-items: center;
}

.backGroundColor1 {
    background-color: #fbfcff;
}


/* HEIGHT  */
.height1 {
    height: 5rem;
}

.height2 {
    height: 10rem;
}

.height3 {
    height: 15rem;
}

.height4 {
    height: 20rem;
}


.selectNone {
    user-select: none;
}




/* CURSOR  */
.cursor {
    cursor: pointer;
}



/* DISPLAY  */
.displayNone {
    display: none;
}



/* FONT FAMILY  */

.mulish {
    font-family: 'Mulish', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.caveat {
    font-family: 'Caveat', cursive;
}


/* COLOR  */
.white {
    color: whitesmoke;
}


/* BUTTON  */
button {
    background-color: #f5f3f5;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    padding: 15px 10px;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 15px;
    /* min-width: 2rem; */
    /* width: 100%; */
    max-width: 10rem !important;
    transition: transform 200ms, box-shadow 200ms;
}

button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}


.containerProject {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MARGIN TOP  */
.mt-6 {
    margin-top: 6rem !important;
}

.mt-6-5 {
    margin-top: 6.5rem !important;
}

.mt-8 {
    margin-top: 8rem !important;
}



.mt-10 {
    margin-top: 10rem !important;
}

/* MARGIN BOTTOM  */
.mb-6-5{
    margin-bottom: 6.5rem !important;
}

.mb-7{
    margin-bottom: 7rem !important;
}

.mb-8{
    margin-bottom: 8rem !important;
}

.mb-10{
    margin-bottom: 10rem !important;
}


.underline {
    text-decoration: underline;
}


/* BORDER RADIUS  */
.radius {
    border-radius: 2rem;
}

/* COMPOSANTS SOUS PROJETS  */
.container-exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 6rem;
    left: 0.8rem;
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
    background-color: white;
    border: 1px solid grey;
    line-height: 1rem;
    font-size: 0.8rem;
    box-shadow: #c0b8b8 5px 5px 8px;
}

.container-exit:hover {
    transition-duration: 0.5s;
    box-shadow: none;
}


/* ICONE  */
i:not(.fa-solid) {
    font-size: 2.5rem;
}


.fa-solid.fa-bars {
    display: none;
}

.fa-solid.fa-right-to-bracket {
    rotate: 180deg;
}

.fa-solid.fa-right-to-bracket:hover {
    color: rgb(180, 179, 179);
}

.fa-brands.fa-linkedin,
.fa-brands.fa-github {
    color: white;
}



/* WIDTH  */

.width-5 {
    width: 5rem;
}

.width80vw {
    width: 70vw;
}





.name-portfolio {
    position: fixed;
    top: 1.3rem;
    left: 0.8rem;
    color: white;
    font-family: 'Caveat', cursive;
    line-height: 1rem;
    z-index: 2;
}


.lineHeight1 {
    line-height: 1rem;
}

.size0-7 {
    font-size: 0.7rem;
}

.size0-8 {
    font-size: 0.8rem;
}

.size1{
    font-size: 1rem;
}

.item-nav:hover {
    /* font-weight: bold; */
    transition-duration: 0.5s;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 24px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 16px !important;
}

.menuHamburger {
    position: fixed;
    right: 0;
    top: 5rem;
    background-color: white;
    width: 6rem;
    height: 8.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 6.5rem;
    border-radius: 10px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    box-shadow: 1px 2px;
}



.menuHamburger .cursor:hover {
    background-color: #dfe0eb;
}





@media screen and (max-width: 700px) {
    .name-portfolio {
        font-size: 1.2rem;
        transition-duration: 0.5s;
    }

    .containerProject {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;

    }



}






@media screen and (min-width: 701px) {
    .name-portfolio {
        font-size: 1.5rem;
        transition-duration: 0.5s;
    }
}


@media screen and (max-width: 900px) {
    .fa-solid.fa-bars {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1.7rem;
        font-size: 1.5rem;
    }

    .flex.alignCenter.gap5.white {
        display: none;
    }

    #menuToggle {
        display: block !important;
    }

    img {
        width: 100vw !important;
    }

    button {
        width: 1rem !important;
    }
    .container-exit{
        width: 10rem;
        height: 2rem;
        font-size: 0.6rem;
        transition-duration: 0.5s;
    }

}


@media screen and (min-width : 901px) {
    .menuHamburger {
        display: none;
    }

    img {
        width: 50vw !important;
    }

    .container-exit{
        transition-duration: 0.5s;
    }

}



@media screen and (max-width: 1000px) {


    button {
        width: 1rem !important;
    }
}